@charset "UTF-8";

/*
PT: < 600px
Celular: 600px - 768px
tablet: 769px - 992px
Desktop: 999px - 1200px
GT: > 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background: linear-gradient(0deg, rgb(255, 226, 165) 0%, rgb(255, 208, 108) 100%);
    }
    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        background-size: 500px 500px;
        background-position: center center;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
        
    }
}

@media screen and (min-width:992px) {
    body{
        background: linear-gradient(0deg, rgb(255, 226, 165) 0%, rgb(255, 208, 108) 100%);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-size: 600px 600px;
        background-position: center center;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1{
    font-size: 2em;
    }

    div#formulario > p{
    font-size: 1em;
    margin: 10px 0px;
    }

}

